#app {
    margin-left:50px;
    margin-right:50px;
}
div button {
    width:100%;
}
.row {
    padding-top: 10px;
}
.col-md-5,.col-md-1 {
    padding-left:2;
    padding-right:2;
}
.title {
    font-size: 22px;
}
.desc {
    font-size: 18px;
}
.url {
    font-size: 18px;
    color: green;
}