<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Bootstrap Advance Admin Template</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="/admin/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="/admin/assets/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="/admin/assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="/admin/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">当前用户</a>
            </div>
            <div class="navbar-title">高校题库系统</div>
            <div class="header-right">

                <a href="login.html" class="btn" title="Logout">注销</a>


            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <img src="/teacher/assets/img/manteacher.jpg" class="img-thumbnail" />

                            <div class="inner-text">
                                zhangs(教师)
                                <br />
                                <small>上次登录时间 : 2周前 </small>
                            </div>
                        </div>

                    </li>



                    <li>
                        <a href="studentTopicInfo.html"><i class="fa fa-desktop "></i>学生做题情况</a>
                    </li>
                    <li>
                        <a href="faultTopicList.html" class="active-menu"><i class="fa fa-desktop "></i>易错题型</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop "></i>学生信息管理 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="studentList.html"><i class="fa fa-toggle-on"></i>学生列表</a>
                            </li>
                            <li>
                                <a href="addStudent.html"><i class="fa fa-bell "></i>新增学生</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop "></i>题目信息管理 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="topicList.html"><i class="fa fa-toggle-on"></i>题目列表</a>
                            </li>
                            <li>
                                <a href="addTopic.html"><i class="fa fa-bell "></i>新增题目</a>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop "></i>章节信息管理 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="chapterList.html"><i class="fa fa-toggle-on"></i>章节列表</a>
                            </li>
                            <li>
                                <a href="addChapter.html"><i class="fa fa-bell "></i>新增章节</a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">错题列表</h1>
                        <h1 class="page-subhead-line">
                            <button id="teacher_info" data-toggle="dropdown" class="btn btn-info dropdown-toggle">详情 </button>
                            <button id="teacher_delete" class="btn btn-danger"><i class="glyphicon glyphicon-home"></i>删除</button>
                            <button id="teacher_find_button" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>查找</button>
                            <!--     <div class="btn-group teacher_find_type">
                                     <button id="teacher_find_type" data-toggle="dropdown" class="btn dropdown-toggle teacher_find_type">选择<span class="caret"></span></button>
                                         <ul class="dropdown-menu">
                                             <li><a href="javascript:void(0)" onclick="teacher_find_type('ID')">ID</a></li>
                                             <li><a href="javascript:void(0)" onclick="teacher_find_type('登录名')">登录名</a></li>
                                             <li><a href="javascript:void(0)" onclick="teacher_find_type('全名')">全名</a></li>
                                         </ul>
                                 </div>-->
                            <input id="teacher_find_input" class="form-control" placeholder="请输入教师的登录名" type="text" />
                        </h1>
                    </div>
                </div>
                <!-- /. ROW  -->

                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th> </th>
                        <th>教师ID</th>
                        <th>教师登录名</th>
                        <th>教师密码</th>
                        <th>教师所教科目</th>
                        <th>教师电话</th>
                        <th>教师性别</th>
                        <th>教师全名</th>
                        <th>录入时间</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="checkbox" class="teacher_num" name="teacher_num" value="0001"></td>
                        <td>0001</td>
                        <td>zhangs</td>
                        <td>123456</td>
                        <td>数学</td>
                        <td>13348653745</td>
                        <td>男</td>
                        <td>张三</td>
                        <td>2018-03-18</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="teacher_num" name="teacher_num" value="0002"></td>
                        <td>0002</td>
                        <td>lis</td>
                        <td>123456</td>
                        <td>语文</td>
                        <td>13348653745</td>
                        <td>女</td>
                        <td>李四</td>
                        <td>2018-03-18</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="teacher_num" name="teacher_num" value="0003"></td>
                        <td>0003</td>
                        <td>zhaol</td>
                        <td>123456</td>
                        <td>英语</td>
                        <td>13348653745</td>
                        <td>女</td>
                        <td>赵六</td>
                        <td>2018-03-18</td>
                    </tr>
                    </tbody>
                </table>
                <div class="paging">
                    <a href="javascript:void(0)"><span>首页</span></a>
                    <a href="javascript:void(0)"><span>&lt;上一页</span></a>
                    <div id="paging_num">
                        <input type="button" class="paging_index" value="1">
                    </div>
                    <a href="javascript:void(0)"><span>下一页&gt;</span></a>
                    <a href="javascript:void(0)"><span>尾页</span></a>
                </div>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <div id="footer-sec">
        &copy; 2014 YourCompany | More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="/admin/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/admin/assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="/admin/assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="/admin/assets/js/custom.js"></script>

    <script type="text/javascript">
        function teacher_find_type(data){
            $("#teacher_find_type").text(data);
        }
        $("#teacher_delete").click(function(){
            $(".teacher_num:checked ").each(function(){
                alert($(this).val());
            });
        });
    </script>

</body>
</html>
